<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALBuildIdentifier</key>
	<string>175811102017_3.17.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.17.0</string>
	<key>CFBundleVersion</key>
	<string>1341</string>
	<key>GITHash</key>
	<string>a4fa42f8276d79f8424458335342bc4444832912</string>
</dict>
</plist>
