<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALBuildIdentifier</key>
	<string>125414092017_3.16.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.16.0</string>
	<key>CFBundleVersion</key>
	<string>1341</string>
	<key>GITHash</key>
	<string>0c5c7ec37c888819c2dbe5e8e9fbd6796290635c</string>
</dict>
</plist>
