<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.7.0</string>
	<key>CFBundleVersion</key>
	<string>862</string>
	<key>GITHash</key>
	<string>ff97c3a8924be91ba6f7b0e592e6beab349151bb</string>
</dict>
</plist>
